h2 {
  font-family: "Philosopher", sans-serif;
  font-size: 36px;
  color: #5d0a0b;
  line-height: 100px;
  vertical-align: middle;
  position: relative;
  padding-left: 24px;
  margin-bottom: 60px;
}

h2:before {
  position: absolute;
  content: "";
  width: 70px;
  height: 110px;
  background-image: url(../img/title_frame.png);
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

.for_whom_our_courses {
  padding-bottom: 120px;
}

.for_whom_our_courses ul {
  width: 100%;
}

.for_whom_our_courses li {
  display: block;
  margin-bottom: 18px;
  padding-left: 28px;
  position: relative;
}

.for_whom_our_courses li:before {
  content: "";
  position: absolute;
  width: 22px;
  height: 20px;
  background-image: url(../img/marker_list_big_arrow.png);
  background-repeat: no-repeat;
  top: 5px;
  left: 0;
}

.our_courses__img_wrapper {
  position: absolute;
  left: 630px;
  top: 0;
  width: 605px;
  height: 370px;
}

.our_courses__img_wrapper img:first-child {
  position: absolute;
  z-index: 2;
}

.our_courses__img_wrapper img:last-child {
  position: absolute;
  top: 102px;
  left: 207px;
  z-index: 1;
}

.silhouette {
  position: absolute;
  top: -230px;
  left: -254px;
  width: 262px;
  height: 378px;
}

.silhouette img {
  width: 100%;
  position: relative;
}