/* our_courses slider center mode*/
.our_courses {
  padding-bottom: 120px;

  @media (max-width: 767px) {
    padding-bottom: 50px;
  }

  ul.slider {
    width        : 100%;
    position     : relative;
    margin-bottom: 50px;

    @media (max-width: 767px) {
      width      : 320px;
      margin-left: -12px;
    }

    .slick-list {

      @media (max-width: 767px) {
        height: 535px;
      }

      .slick-track {
        @media (max-width: 767px) {
          height: 535px;
        }

        .slider_items {
          .item_cover {
            position: relative;
            background: linear-gradient(179.41deg,
                #33425b 0.51%,
                rgba(97, 107, 124, 0.682292) 43.24%,
                rgba(254, 232, 212, 0.73) 95.91%);

            border-bottom: none;
            box-shadow   : $shadow;

            &:after {
              @include pseudo;
              width           : 100%;
              height          : 50px;
              background-color: #fee8d4;
              bottom          : -25px;
              left            : 0;
              z-index         : 1;

              @media (max-width: 767px) {
                bottom: -42px;
              }


            }
          }

          &.slick-slide {
            // width: 390px!important;
            height    : 685px;
            overflow  : hidden;
            position  : relative;
            z-index   : 1;
            box-sizing: border-box;
            margin-top: 70px;

            @media (max-width: 1023px) {
              height: 555px;
            }

            &.slick-active {

              .item_cover {
                padding: 0 50px;
                opacity: 0.5;

                @media (max-width: 1365px) {
                  font-size: 24px;
                }

                @media (max-width: 1023px) {
                  font-size: 20px;
                  padding  : 0 30px;
                }

                @media (max-width: 767px) {
                  font-size: 14px;
                  padding  : 0 20px;
                }

                .img_slider__wrapper {
                  width : 196px;
                  height: 206px;

                  @media (max-width: 1365px) {
                    width : 155px;
                    height: 163px;
                  }

                  img {
                    position  : relative;
                    opacity   : 1;
                    display   : block;
                    box-shadow: $shadow;
                  }
                }

                span {
                  width: 100%;
                }
              }
            }

            &.slick-center {
              height    : 1024px;
              z-index   : 2;
              overflow  : visible;
              margin-top: 0;

              @media (max-width: 1365px) {
                height: 940px;
              }

              @media (max-width: 1023px) {
                height: 815px;
              }

              @media (max-width: 767px) {
                height: 535px;
              }




              .item_cover {
                width   : 600px;
                padding : 0 109px;
                position: absolute;
                top     : 0;
                left    : 50%;
                margin  : 0 0 0 -300px;
                background: linear-gradient(179.41deg,
                    #33425b 0.51%,
                    rgba(97, 107, 124, 1) 43.24%,
                    rgba(254, 232, 212, 1) 95.91%);
                border : 1px solid #29252c;
                opacity: 1;

                @media (max-width: 1365px) {
                  width  : 474px;
                  margin : 0 0 0 -237px;
                  padding: 0 84px;
                }

                @media (max-width: 1023px) {
                  width  : 380px;
                  margin : 0 0 0 -190px;
                  padding: 0 70px;
                }

                .img_slider__wrapper {
                  width : 360px;
                  height: auto;

                  @media (max-width: 1365px) {
                    width: 284px;
                  }

                  @media (max-width: 1023px) {
                    width: 220px;
                  }

                  @media (max-width: 1023px) {
                    width: 195px;
                  }

                  img {
                    width: 100%;
                  }
                }
              }
            }
          }
        }

      }
    }



    button.slick-arrow {
      position         : absolute;
      top              : 50%;
      width            : 17px;
      height           : 30px;
      background-color : inherit;
      border           : none;
      text-indent      : -9999px;
      z-index          : 9999;
      cursor           : pointer;
      background-repeat: no-repeat;
      background-size  : 100%;

      @media (max-width: 1023px) {
        height: 25px;
        width : auto;
      }

      @media (max-width: 767px) {
        height         : 12px;
        width          : auto;
        background-size: 62%;
        top            : 45%;
      }

      &.slick-prev {
        left            : -50px;
        background-image: url(../img/arrow_btn_back.png);

        @media (max-width: 1365px) {
          left: -30px;
        }

        @media (max-width: 767px) {
          left: 20px;
        }
      }

      &.slick-next {
        right           : -50px;
        background-image: url(../img/arrow_btn_next.png);

        @media (max-width: 1365px) {
          right: -30px;
        }

        @media (max-width: 767px) {
          right: 20px;
        }
      }
    }
  }

  .slick-list {
    padding: 0 !important;
  }
}

/* reviews */
.reviews {
  .slick-list {
    height  : 580px;
    overflow: hidden;
  }

  .slick-arrow {
    position         : absolute;
    bottom           : -15px;
    width            : 17px;
    height           : 30px;
    background-color : inherit;
    border           : none;
    text-indent      : -9999px;
    z-index          : 9999;
    cursor           : pointer;
    background-repeat: no-repeat;

    @media (max-width: 767px) {
      height         : 15px;
      background-size: 44%;
    }





  }

  .slick-prev {
    right           : 0px;
    background-image: url(../img/arrow_btn_back.png);

    @media (max-width: 767px) {
      right: 10px;
    }
  }

  .slick-next {
    right           : 0px;
    background-image: url(../img/arrow_btn_next.png);

    @media (max-width: 767px) {
      right: 0;
    }
  }

  .slick-dots {
    position   : absolute;
    right      : -14px;
    bottom     : 80px;
    width      : 2px;
    min-height : 270px;
    border-left: 1px solid #29252C;

    @media (max-width: 767px) {
      right: 5px;
    }


    li {
      button {
        width           : 2px;
        height          : 70px;
        background-color: inherit;
        border          : none;
        text-indent     : -9999px;
        padding         : 0;
        cursor          : pointer;
      }

      &.slick-active {
        button {
          background-color: #29252C;
        }
      }
    }
  }

  .slick-vertical .slick-slide {
    border: none;
  }
}